{% extends 'base.html' %}

{% load static %}

{% block content %}

	{% include 'navbar.html' %}

	<div class="container">
		<div class="row">
			<div class="col s12 m6">
				<blockquote> <h4> My Products </h4> </blockquote>
			</div>
		</div>
		<div class="row">
			{% for product in products %}
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-content">
							<span class="card-title"> {{ product.product.title }} </span>
							<div class="row">
								{% if product.product.image %}
									<div class="col s12 m6">
										<img src="{% static product.product.getImagePath %}" width="100" height="100" />
									</div>
								{% endif %}
								<div class="col s12 m6">
									Category: {{ product.product.get_category_display }} <br>
									Received From: {{ product.product.owner.first_name }} {{ product.product.owner.last_name }}
									{{ product.description }}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
