<script type="text/javascript">
	$(document).ready(function(){
		$('.modal').modal();
		{% if errors %}
			$('.modal').modal('open')
		{% endif %}
	});
</script>

<nav>
	<div class="nav-wrapper">
		<a href="{% url 'index' %}" class="brand-logo left" style="margin-right:20px">Django Book Seller</a>
		<ul id="nav-mobile" class="right">
			<li> <a href="{% url 'browse_products' %}"> Browse Products </a> </li>
			{% if user.is_authenticated %}
				<li> <a href="{% url 'requests' %}"> Requests </a> </li>
				<li> <a href="{% url 'my_products' %}"> My Products </a> </li>
				<script>
					$(document).ready(function(){
						$(".dropdown-trigger").dropdown();
					})
				</script>
				<ul id="user-content" class="dropdown-content">
					<li> <a href="{% url 'add_product' %}"> Add Product </a> </li>
					<li> <a href="{% url 'sold_products' %}"> Sold Products </a> </li>
					<li> <a href="{% url 'logout' %}"> Logout </a> </li>
				</ul>
				<li>
					<a class="dropdown-trigger" href="#!" data-target="user-content">Welcome, {{ user.first_name }} {{ user.last_name }}</a>
				</li>
			{% else %}
			<li>
				<a class="modal-trigger" href="#login-modal">Login</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>

<div id="login-modal" class="modal">
	<form method = "POST" action = "" >
		{% csrf_token %}
		<div class="modal-content">
			{% for field in LoginForm %}
				<div class="input-field">
					{{ field }}
					<label for="{{ field.id_for_label }}"> {{ field.label  }} </label>
				</div>
			{% endfor %}
			<div class="row">
				{% autoescape off %}
					{% for error in errors %}
						{{ error }}
					{% endfor %}
				{% endautoescape %}
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Login</button>
		</div>
	</form>
</div>

